*{margin: 0; padding: 0;}

body {
  color: #3f3f3f;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

#background {
  position: absolute;
  background-image: url(../sprites/Backgroup.jpg);
  width: 100%;
  height: 110%;
  filter: blur(10px);
  z-index: -1;
}

#game {
  display: flex;
  width: 100%;
  height: 600px;
  flex-flow: column;
  align-items: center;
}

iframe {
  width: 630px;
  height: 590px;
  border: none;
  padding-top: 50px;
}

#footer {
  display: flex;
  width: 100%;
  height: 50px;
  flex-flow: column;
  align-items: center;
  cursor: default;
}

#footer a {
  text-decoration: none;
  color: #262626;
  transition: color 0.3s;
}

#footer a:hover {
  color: #ff9900;
}

span {
  position: relative;
  display: inline-flex;
  height: 45px;
  width: 150px;
  margin: 0 15px;
  perspective: 1000px;
}
.span-setting {
  position: relative;
  display: inline-flex;
  height: 45px;
  width: 150px;
  margin: 0 15px;
  perspective: 1000px;
}
.span-setting .a-setting {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}

span a:before,
span a:after {
  position: absolute;
  content: "BACK";
  height: 45px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.span-setting .a-setting:before,
.span-setting .a-setting:after {
  position: absolute;
  content: "SETTING";
  height: 45px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.span-setting .a-setting:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.span-setting .a-setting:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.setting-game {
  float: right;
  position: relative;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
}

